@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,900&display=swap");

:root {
  /* Fonts */
  --ff-railway: "Raleway", sans-serif;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --white-smoke: hsl(0, 0%, 96%);
  --gray-platinum: hsl(0, 0%, 88%);
  --gray-platinum-70: hwb(0 88% 12% / 0.7);
  --gray-slate: hsl(218, 17%, 52%);
  --gray-slate-40: hsla(218, 17%, 52%, 0.4);
  --blue-space-cadet: hsl(235, 21%, 21%);
  --black-raisin: hsl(235, 21%, 12%);
  /* --purple-electric: hsl(274, 100%, 64%); */
  --violet-electric: hsl(274, 100%, 52%);
  --red-crayola: hsl(342, 100%, 48%);
  --green-malachite: hsl(144, 100%, 60%);

  /* Gradients */
  --gradient-1: linear-gradient(
    to bottom left,
    hsl(274, 100%, 52%) 0%,
    hsl(235, 21%, 12%, 0.5) 50%
  );

  --gradient-2: linear-gradient(
    to bottom right,
    hsl(274, 100%, 52%) 0%,
    hsl(235, 21%, 21%) 50%
  );

  --gradient-3: linear-gradient(
      135deg,
      hsla(274, 100%, 52%, 0.25) 0%,
      hsla(274, 100%, 52%, 0) 60%
    ),
    hsl(235, 21%, 21%);

  --gradient-4: linear-gradient(
    to bottom right,
    hsl(218, 17%, 52%, 0.7) 0%,
    hsl(235, 21%, 12%, 0.5) 50%
  );

  --gradient-5: linear-gradient(
    to bottom right,
    hsl(144, 82%, 47%) 0%,
    hsl(136, 75%, 16%) 50%
  );

  --gradient-6: linear-gradient(
      135deg,
      hsla(144, 82%, 47%, 0.25) 0%,
      hsla(144, 82%, 47%, 0) 60%
    ),
    hsl(235, 21%, 21%);

  /* Shadow */
  --shadow-1: -4px 8px 10px hsla(235, 21%, 60%, 0.15);
  --shadow-2: -2px 2px 5px hsla(274, 100%, 50%, 0.25);
  --shadow-3: -2px -8px 10px hsla(235, 21%, 60%, 0.15);

  /* Transitions */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--green-malachite);
  color: var(--black-raisin);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

html {
  font-family: var(--ff-railway);
}

body {
  background: var(--black-raisin);
}

.sidebar,
article {
  background: var(--blue-space-cadet);
  border: 1px solid var(--gray-slate-40);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--gray-slate-40);
  margin: 16px 0;
}

/* Icon box sidebar */

.icon-box {
  position: relative;
  background: var(--gradient-1);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--violet-electric);
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--blue-space-cadet);
  border-radius: inherit;
  z-index: -1;
}

/* Icon box sidebar */

main {
  margin: 15px 15px;
  /* margin-bottom: 75px; */
  min-width: 259px;
}

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
}

.sidebar.active {
  max-height: 405px;
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatar-box {
  border-radius: 50%;
  border: 1px solid var(--violet-electric);
  background: var(--gray-slate);
  overflow: hidden;
}

/* Info contect name and title */
.info-content .name {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}

.info-content .title {
  color: var(--gray-platinum);
  background: var(--gray-slate-40);
  font-size: 12px;
  font-weight: 300;
  width: max-content;
  padding: 3px 12px;
  border-radius: 10px;
}

/* More info button */

.info_more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--violet-electric);
  background: var(--gradient-4);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
  border: none;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--blue-space-cadet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus {
  background: var(--gradient-2);
  box-shadow: none;
}

.info_more-btn:hover::before,
.info_more-btn:focus::before {
  background: var(--gradient-3);
}

.info_more-btn span {
  display: none;
}

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

/* Contact list styles */

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 50px);
  width: calc(100% - 50px);
}

.contact-title {
  color: var(--gray-slate);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
  color: var(--white-smoke);
  font-size: 14px;
}

.contact-info address {
  font-style: normal;
}

/* Social links styles */
.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item .social-link {
  color: var(--gray-platinum);
  font-size: 18px;
}

.social-item .social-link:hover {
  color: var(--violet-electric);
}

/* Main contents */
article {
  display: none;
  transition: var(--transition-2);
}

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h2,
h3 {
  color: var(--white-smoke);
  text-transform: capitalize;
}

/* NAvbar */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--blue-space-cadet);
  backdrop-filter: blur(10px);
  border: 1px solid var(--gray-slate-40);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-3);
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.navbar-link {
  color: var(--gray-platinum);
  font-size: 18px;
  padding: 20px 7px;
  transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus {
  color: var(--gray-platinum-70);
}

.navbar-link.active {
  color: var(--green-malachite);
}

.contact-form {
  margin-bottom: 10px;
}

.form-title {
  margin: 20px 0px;
}

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  color: var(--white-smoke);
  font-size: 14px;
  font-weight: 400;
  padding: 15px 20px;
  border: 1px solid var(--gray-platinum-70);
  border-radius: 10px;
  outline: none;
}

.form-input::placeholder {
  font-weight: 500;
}

.form-input:focus {
  border-color: var(--green-malachite);
}

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 300px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input:-webkit-resizer {
  display: none;
}

.form-input:focus:invalid {
  border-color: var(--red-crayola);
}

.form-btn {
  position: relative;
  width: 100%;
  background: var(--gradient-4);
  color: var(--green-malachite);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: 14px;
  text-transform: capitalize;
  z-index: 1;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--blue-space-cadet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon {
  font-size: 16px;
}

.form-btn:hover {
  background: var(--gradient-5);
}

.form-btn:hover::before {
  background: var(--gradient-6);
}

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.form-btn:disabled:hover {
  background: var(--gradient-4);
}

.form-btn:disabled:hover::before {
  background: var(--blue-space-cadet);
}

@media (min-width: 580px) {
  .sidebar,
  article {
    width: 520px;
    margin-inline: auto;
    padding: 30px;
  }

  .icon-box {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    font-size: 18px;
  }

  .sidebar {
    max-height: 180px;
    margin-bottom: 30px;
  }

  .sidebar.active {
    max-height: 584px;
  }

  .sidebar-info {
    gap: 25px;
  }

  .avatar-box img {
    width: 120px;
  }

  .info-content .name {
    margin-bottom: 15px;
  }

  .info-content .title {
    padding: 5px 18px;
  }

  .info_more-btn {
    top: -30px;
    right: -30px;
    padding: 10px 15px;
  }

  .info_more-btn span {
    display: block;
    font-size: 12px;
  }

  .info_more-btn ion-icon {
    display: none;
  }

  .separator {
    margin: 32px 0;
  }

  .contacts-list {
    gap: 20px;
  }

  .contact-info {
    max-width: calc(100% - 65px);
    width: calc(100% - 65px);
  }

  .navbar {
    border-radius: 20px 20px 0 0;
  }

  .navbar-list {
    gap: 20px;
  }

  .navbar-link {
    font-size: 14px;
  }

  .input-wrapper {
    gap: 30px;
    margin-bottom: 30px;
  }

  .form-input {
    padding: 15px 20px;
  }

  textarea.form-input {
    margin-bottom: 30px;
  }

  .form-btn {
    font-size: 16px;
    padding: 16px 20px;
  }

  .form-btn ion-icon {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .sidebar,
  article {
    width: 700px;
  }

  .contacts-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px 15px;
  }
  .navbar-link {
    font-size: 16px;
  }

  .input-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .form-btn {
    width: max-content;
    margin-left: auto;
  }
}

@media (min-width: 1024px) {
  .sidebar,
  article {
    width: 950px;
  }

  main {
    margin-bottom: 60px;
  }

  .main-content {
    position: relative;
    width: max-content;
    margin: auto;
  }

  .navbar {
    position: absolute;
    bottom: auto;
    top: 0;
    left: auto;
    right: 0;
    width: max-content;
    border-radius: 0 20px;
    padding: 0 20px;
    box-shadow: none;
  }

  .navbar-list {
    gap: 30px;
    padding: 0 20px;
  }

  .navbar-link {
    font-weight: 500;
  }
}

@media (min-width: 1250px) {
  .sidebar,
  article {
    width: auto;
  }

  article {
    min-height: 100%;
  }

  main {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 25px;
  }

  .main-content {
    min-width: 75%;
    width: 75%;
    margin: 0;
  }

  .sidebar {
    position: sticky;
    top: 60px;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 60px;
    z-index: 1;
    min-width: 25%;
    width: 25%;
  }

  .sidebar-info {
    flex-direction: column;
  }

  .avatar-box img {
    width: 150px;
  }

  .info-content .name {
    white-space: nowrap;
    text-align: center;
    font-size: 24px;
  }

  .info-content .title {
    margin: auto;
    font-size: 16px;
  }

  .info_more-btn {
    display: none;
  }

  .sidebar-info_more {
    opacity: 1;
    visibility: visible;
  }

  .contacts-list {
    grid-template-columns: 1fr;
  }

  .contact-info :is(.contact-link) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .contact-info :is(.contact-link, time, address) {
    font-size: 14px;
    font-weight: 300;
  }

  .separator:last-of-type {
    margin: 15px 0;
    opacity: 0;
  }

  .social-list {
    justify-content: center;
  }

  .social-item .social-link {
    font-size: 24px;
  }
}
