@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,900&display=swap");

:root {
  /* Fonts */
  --ff-railway: "Raleway", sans-serif;

  /* Colors */
  --white: hsl(0, 0%, 100%);
  --white-smoke: hsl(0, 0%, 96%);
  --gray-platinum: hsl(0, 0%, 88%);
  --gray-platinum-70: hwb(0 88% 12% / 0.7);
  --gray-slate: hsl(218, 17%, 52%);
  --gray-slate-40: hsla(218, 17%, 52%, 0.4);
  --blue-space-cadet: hsl(235, 21%, 21%);
  --black-raisin: hsl(235, 21%, 12%);
  /* --purple-electric: hsl(274, 100%, 64%); */
  --violet-electric: hsl(274, 100%, 52%);
  --red-crayola: hsl(342, 100%, 48%);
  --green: hsl(120, 100%, 52%);

  /* Gradients */
  --gradient-1: linear-gradient(
    to bottom left,
    hsl(274, 100%, 52%) 0%,
    hsl(235, 21%, 12%, 0.5) 50%
  );

  --gradient-2: linear-gradient(
    to bottom right,
    hsl(274, 100%, 52%) 0%,
    hsl(235, 21%, 21%) 50%
  );

  --gradient-3: linear-gradient(
      135deg,
      hsla(274, 100%, 52%, 0.25) 0%,
      hsla(274, 100%, 52%, 0) 60%
    ),
    hsl(235, 21%, 21%);

  --gradient-4: linear-gradient(
    to bottom right,
    hsl(218, 17%, 52%, 0.7) 0%,
    hsl(235, 21%, 12%, 0.5) 50%
  );

  /* Shadow */
  --shadow-1: -4px 8px 10px hsla(235, 21%, 60%, 0.15);
  --shadow-2: -2px 2px 5px hsla(274, 100%, 50%, 0.25);

  /* Transitions */
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

html {
  font-family: var(--ff-railway);
}

body {
  background: var(--black-raisin);
}

.sidebar {
  background: var(--blue-space-cadet);
  border: 1px solid var(--gray-slate-40);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--gray-slate-40);
  margin: 16px 0;
}

/* Icon box sidebar */

.icon-box {
  position: relative;
  background: var(--gradient-1);
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--violet-electric);
  box-shadow: var(--shadow-2);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--blue-space-cadet);
  border-radius: inherit;
  z-index: -1;
}

/* Icon box sidebar */

main {
  margin: 15px 15px;
  /* margin-bottom: 75px; */
  min-width: 259px;
}

.sidebar {
  margin-bottom: 15px;
  max-height: 112px;
  overflow: hidden;
  transition: var(--transition-2);
}

.sidebar.active {
  max-height: 405px;
}

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatar-box {
  border-radius: 50%;
  overflow: hidden;
}

/* Info contect name and title */
.info-content .name {
  color: var(--white);
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}

.info-content .title {
  color: var(--violet-electric);
  background: var(--gray-slate-40);
  font-size: 12px;
  font-weight: 300;
  width: max-content;
  padding: 3px 12px;
  border-radius: 10px;
}

/* More info button */

.info_more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--violet-electric);
  background: var(--gradient-4);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
  border: none;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--blue-space-cadet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus {
  background: var(--gradient-2);
  box-shadow: none;
}

.info_more-btn:hover::before,
.info_more-btn:focus::before {
  background: var(--gradient-3);
}

.info_more-btn span {
  display: none;
}

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

/* Contact list styles */

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-info {
  max-width: calc(100% - 50px);
  width: calc(100% - 50px);
}

.contact-title {
  color: var(--gray-slate);
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
  color: var(--white-smoke);
  font-size: 14px;
}

.contact-info address {
  font-style: normal;
}

/* Social links styles */
.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item .social-link {
  color: var(--gray-platinum);
  font-size: 18px;
}

.social-item .social-link:hover {
  color: var(--violet-electric);
}
